.navbar {
background: #E3FEE0;
}
.nav-link , .navbar-brand{
color: #000000;
cursor: pointer;
}
.nav-link{
margin-right: 1em !important;
}
.nav-link:hover{
background: #9ACD32;
color: #FFFFFF;
}
.navbar-collapse{
justify-content: flex-end;
}
.navbar-toggler{
background:#FFFFFF !important;
}
